@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the UAH Esports Discord Bot Suite!</h1>
    <p>Current Bot Status: <div class="low-latency">Online</div></p>
</div>
